@media screen and (max-width:1630px) {
    .pf__docs-btns ul {
        left: auto;
        z-index: 2;
    }
}

@media screen and (max-width:1210px) {
    .crlist .critem {
        width: 31.808%;
    }

    .crlist .critem {
        width: 31.808%;
    }

    .crlist.view-list .critem {
        width: 100%;
    }

    .crlist.view-list {
        max-width: 675px;
        margin: auto;
    }

}

@media screen and (max-width:991px) {
    .text-desctop {
        display: none;
    }

    .text-mobile {
        display: inline;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    ul.breadcrumbs {
        padding: 32px 0 20px;
    }

    ul.breadcrumbs li {
        display: none;
    }

    ul.breadcrumbs li:nth-last-child(2) {
        display: block;
        font-size: 0;
    }




    ul.breadcrumbs li:nth-last-child(2):after {
        display: none
    }

    ul.breadcrumbs li:nth-last-child(2):after {
        content: "Вернуться назад";
        font-size: 14px;
        color: #5D7592;
        display: inline-block;
    }

    .breadcrumbs li:nth-last-child(2) a {
        margin: 0;
    }

    .breadcrumbs li:nth-last-child(2):before {
        content: '\e920';
        margin-right: 5px;
        color: #5D7592;
        font-family: 'icomoon' !important;
        font-size: 12px;
    }

    .wrapper {
        padding: 0 23px;
    }

    .cars {
        padding: 40px 0;
    }

    .crlist .critem {
        width: 46.52%;
        margin: -1px 1.74% 20px;
    }

    .crlist {
        margin: 0 -1.74%;
    }

    .cars h1 {
        font-size: 24px;
        margin-bottom: 22px;
        line-height: 1.5;
    }

    .cars .cars_mobile-title {
        font-size: 24px;
        font-weight: 500;
        display: block;
        margin-bottom: 17px;
    }

    .crtop {
        background: #3A9C3E;
    }

    .minfo-fixed .minfo__title {
        margin-left: 18px;
        font-size: 18px;
    }

    .minfo .mbids__table-title {
        font-size: 24px;
        padding: 17px 0;
    }

    .minfo .mbids__table-item>div {
        width: 50%;
    }

    .modal.minfo-fixed {
        width: 300px;
        padding: 13px 18px;
    }

    .modal.minfo-fixed img {
        width: 100px;
    }

    .minfo .mbids__table-item {
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .mbids__table-item:before {
        left: 6px;
    }

    .mbids__table-item:after {
        left: -7px;
    }

    .minfo .mbids__table-item .bd-table-date {
        order: 4;
        text-align: right;
        font-size: 14px;
        margin-top: 12px;
    }

    .minfo .mbids__table-item.bid-begin .bd-table-date,
    .minfo .mbids__table-item.bid-end .bd-table-date {
        width: 100%;
        text-align: left;
    }

    .minfo .mbids__table-item .bd-table-buyer {
        order: 3;
        text-align: left;
        margin-top: 12px;
        font-size: 14px;
    }

    .minfo .mbids__table-item .bd-table-price {
        order: 2;
        text-align: right;
    }

    .minfo .mbids__table-title .print {
        display: none;
    }

    .minfo .mbids__table-subtitle {
        font-size: 20px;
    }

    .pf__it-lastname {
        order: -1;
        width: calc(76% - 165px);
    }

    .pf__it-firstname {
        padding-top: 5px;
        margin-left: 165px;
        width: calc(50% - 165px/2);
    }

    .pf__it-surname {
        padding-top: 5px;
        width: calc(50% - 165px/2);
        margin-right: 0;
    }

    .pf__type .pf__type-item {
        margin-right: 40px;
    }

    .pf__it-birth {
        order: -1;
        flex: 1;
    }

    .pf__it-gender {
        width: 100%;
    }

    .pf__it-nat {
        width: 48%;
    }

    .pf__it-passp {
        flex: 1
    }

    .pf__it-passpdate,
    .pf__it-passpkod {
        order: 1;
        width: 24.9%;
    }

    .pf__it-place {
        width: 65%;
        flex-grow: 1;
    }

    .pf__it-passpwho {
        order: 1
    }

    .pf__type .pf__form-radio {
        flex-direction: column;
    }

    .pf__data-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .pf__type .pf__type-item.pf__type-set {
        width: 50%;
    }

    .pf__it-index {
        width: 27.4%;
    }

    .pf__it-region {
        width: 65%;
        margin-right: 0;
        flex: auto;
    }

    .pf__it-city {
        width: 50%;
    }

    .pf__it-street {
        width: 48%;
    }

    .pf__it-office {
        flex-grow: 1;
    }

    .pf__docs-title {
        font-size: 20px;
    }

    .pf__docs-item {
        padding: 14px 21px 14px;
        flex-wrap: wrap;
    }

    .pf__docs-item:first-child {
        margin-top: 20px;
    }

    .pf__docs-name {
        font-size: 14px;
        line-height: 1.2;
    }

    .pf__docs-item:not(.pf__docs-item-nofile) .pf__docs-name {
        margin-top: -25px;
    }

    .pf__docs-info {
        order: 1;
        width: 92%;
        padding-left: 52px;
        margin-top: -19px;
    }

    .pf__docs-info .name,
    .pf__docs-info .date {
        font-size: 12px;
    }

    .pf__docs-info .progress-value,
    .pf__docs-info .progress-name {
        font-size: 14px;
        margin-top: 3px;
    }

    .pf__docs-info .tag span {
        width: 99px;
        height: 24px;
        font-size: 12px;
        margin-top: -25px;
    }

    .pf__docs-item-nofile .pf__docs-btns .btn {
        font-size: 0;
    }

    .pf__docs-item-nofile .pf__docs-btns .btn:before {
        font-size: 30px;
        color: #C3D3EA;
        margin-right: 0;
    }

    .pf__docs-item:after {
        width: calc(100% - 42px);
        height: 1px;
        background: #ECF6FF;
        content: "";
        bottom: 0;
        position: absolute;
    }

    .pf__docs-item:last-child:after {
        display: none;
    }

    .pf__docs-text {
        padding: 0 21px;

        font-size: 12px;
    }

    .pf__docs-download {
        order: 0;
        margin-bottom: 21px;
        margin-top: -21px;
    }

    .pf__docs-item-error .pf__docs-info .name {
        font-size: 14px;
    }

    .pf__ip-name {
        width: 100%;
        margin-right: 0;
        order: -1;
    }

    .pf__ip-photo {
        order: -1;
    }

    .pf__ip-nalog {
        order: -1;
        margin-left: 165px;
        margin-right: 20px;
    }

    .pf__ip-inn,
    .pf__ip-ogrn {
        margin-left: 0;
        width: 50%;
    }

    .pf__ip-inn {
        margin-right: 0;
    }

    .pf__ip-phone,
    .pf__ip-email {
        width: 47%;
    }

    .pf__ip-email {
        margin-right: 0;
        flex: 1;
    }

    .pf__ip-site {
        flex: auto;
        width: 100%;
    }

    .pf__b-rsch,
    .pf__b-ksch,
    .pf__b-bik,
    .pf__b-bank,
    .pf__p-lname,
    .pf__p-fname,
    .pf__p-sname,
    .pf__b-pos,
    .pf__b-unum,
    .pf__b-osn {
        flex-grow: 1;
        width: 48%;
    }

    .pf__b-ksch,
    .pf__p-fname {
        margin-right: 0;
    }

    .pf__org-type {
        width: 22%;
    }

    .pf__org-nalog {
        width: 22%;
        margin-right: 20px;
        margin-left: 165px;
    }

    .pf__org-name,
    .pf__org-email {
        margin-right: 0;
    }

    .pf__org-ogrn {
        margin-right: 0;
        margin-left: 0;
    }

    .pf__org-phone,
    .pf__org-email,
    .pf__org-site,
    .pf__org-torg {
        width: 45%;
    }

    .pf__org-inn {
        flex-grow: 0;
        width: calc(22% + 165px)
    }

}

@media screen and (max-width:650px) {
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .list-2columns {
        column-count: 1;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    .crlist .critem {
        width: 100%;
    }

    .crtop .crtop__grid {
        display: none;
    }

    .cars {
        padding: 32px 0;
    }

    .cars h1 {
        font-size: 16px;
    }

    .pages {
        display: inline-block;
        margin-bottom: 30px;
    }

    .pages ul li {
        margin-right: 20px;
    }

    .pages ul li:last-child {
        margin-right: 0;
    }

    .pages ul li a {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .crbot {
        text-align: center;
    }

    .crbot {
        justify-content: center;
        flex-direction: column;
    }

    .profile {
        padding-bottom: 0;
    }

    .pf__form-photo {
        position: relative;
        width: 100%;
        order: -1;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .pf__form-item {
        margin-right: 0;
    }

    .pf__form .pf__form-item {
        width: 100%;
        margin-left: 0;
        order: 0;
        flex: none;
    }

    .pf__form .pf__form-item.pf__it-birth,
    .pf__form .pf__form-item.pf__it-passpdate,
    .pf__form .pf__form-item.pf__it-passpkod {
        width: 60%;
    }

    .pf__data-bt .btn {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .pf__data-bt .save-draft {
        order: 1
    }

    .pf__data-bt {
        flex-direction: column;
    }

    .pf__type {
        flex-direction: column;
    }

    .pf__type .pf__type-item:last-child {
        margin-top: 20px;
    }

    .pf__type .pf__type-item {
        margin-right: 0;
    }

    .pf__type .pf__form-radio .form_radio {
        margin-right: 0;
    }

    .pf__progress {
        padding: 10px 0;
    }

    .pf__progress-step {
        border: 0;
        font-size: 0;
        background: transparent !important;
        width: 0;
    }

    .pf__progress-step:last-child {
        font-size: 16px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        color: #5D7592;
        font-weight: 500;
    }

    .pf__progress-line {
        display: none;
    }

    .pf__progress-step.active {
        counter-increment: step;
    }

    .pf__progress-step:last-child:after {
        content: "Шаг "counter(step)"";
        color: #3A9C3E;
        font-size: 20px;
        font-weight: 700;
        margin-right: 7px;
    }

    .pf__progress-step:last-child span:before {
        content: " из ";
    }

    .pf__type .pf__type-set {
        display: none;
    }

    .pf__form .pf__it-house,
    .pf__form .pf__it-korpus,
    .pf__form .pf__it-flat {
        width: 30%;
        flex: 1;
    }

    .pf__form .pf__it-house,
    .pf__form .pf__it-korpus {
        margin-right: 20px;
    }

    .pf__data-address-org .pf__it-korpus {
        margin-right: 0;
    }

    .pf__data-bt .btn.btn-green {
        order: -1
    }

    .pf__docs-info {
        width: 100%;
        padding-left: 0;
        margin-top: 0;
        padding-right: 0;
    }

    .pf__docs-info .tag span {
        margin-top: 0;
    }

    .pf__docs-btns {
        min-width: 30px;
    }

    .pf__docs-item:not(.pf__docs-item-nofile) .pf__docs-name {
        margin-top: 0;
    }

    .pf__docs-info .name,
    .pf__docs-info .date {
        margin-top: 3px;
    }

    .pf__docs-info .progress-value,
    .pf__docs-info .progress-name {
        margin-top: 10px;
    }

    .pf__docs-btns .docs-menu {
        font-size: 5px;
        margin-top: -30px;
    }

    .minfo-fixed .minfo__title {
        margin-left: 12px;
        font-size: 12px;
    }

    .modal.minfo-fixed {
        width: 200px;
        padding: 9px 18px;
    }

    .modal.minfo-fixed img {
        width: 53px;
    }

    .minfo .mbids__table-item {
        font-size: 14px;
    }

    .minfo .mbids__table-item .bd-table-date {
        font-size: 12px;
        margin-top: 5px;
    }

    .minfo .mbids__table-item .bd-table-buyer {
        margin-top: 5px;
        font-size: 12px;
    }

    .minfo .mbids__table-title {
        font-size: 20px;
        line-height: 1.5;
        padding: 15px 0;
    }

    .minfo .mbids__table-subtitle {
        font-size: 16px;
        margin-bottom: 0;
    }

    .modal.minfo-xs {
        padding: 28px;
    }

    .modal.minfo-sm {
        padding: 28px;
    }

    .modal.minfo-md {
        padding: 28px;
    }

    .modal.minfo-full {
        padding: 20px;
    }

    .modal.minfo-sm2 {
        padding: 28px;
    }

    .pf__docs-download {
        margin-top: 0;
    }

    .pf__docs-download a {
        width: 100%;
    }

    .mlog__form-register .mlog__form-item {
        width: 100%;
        margin-right: 0;
    }

}

@media screen and (max-width:440px) {
    .mlog {
        padding: 40px 20px
    }

    .mlog__inner {
        min-height: calc(100vh - 92px);
        min-height: calc(var(--vh, 1vh) * 100  - 92px);
        display: flex;
        flex-direction: column;
    }

    .mlog__form {
        flex-grow: 1
    }

    .mlog__title {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .mlog__tab {
        flex-grow: 1;
        align-items: flex-end;
    }

    .mlog__form-info {
        text-align: center;
        display: inline-block;
    }

    .mlog__form-info i {
        margin-right: 0;
    }

    .mlog__block {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .mlog__block-inner,
    .mlog__form-register {
        flex-grow: 1
    }

    .mlog__block.hidden {
        display: none;
    }
}

@media (hover),
(min-width:0\0),
(min--moz-device-pixel-ratio:0) {

    input,
    textarea,
    select,

    .ic-input:before {
        transition: all .3s
    }

    input:hover,
    textarea:hover {
        border-color: #BDC5D7;
    }

    .ic-input:hover:before {
        color: #1F3A60;
    }

    input:focus,
    textarea:focus {
        border-color: #3A9C3E;
    }

    .ic-input.focus:before {
        color: #3A9C3E
    }

    .error input,
    .error textarea,
    input.error,
    textarea.error {
        border-color: #D3918D;
        color: #811B18;
    }

    .ic-input.error:before {
        color: #811B18;
    }

    .form_checkbox label:hover::before {
        border-color: #C3D3EA;
    }

    a {
        transition: color .3s
    }

    a:hover:before {
        transition: all .3s
    }

    ul.breadcrumbs li a:hover {
        color: #3A9C3E;
    }

    .btn {
        transition: all .3s
    }

    a:hover {
        /*text-decoration: underline*/
    }

    .btn-green:hover {
        background: #40BB45;
    }

    .btn-green:focus,
    .btn-green.active {
        background: #3A9C3E;
    }

    .btn-green.disabled {
        background: #E0E0E0;
    }

    .btn-transparent:hover {
        color: #1F3A60;
    }

    .btn-transparent:focus,
    .btn-transparent.active {
        color: #1F3A60;
    }

    .btn-transparent.disabled {
        color: #E0E0E0;
    }

    .btn-white:hover {
        color: #1F3A60;
        border-color: #1F3A60;
    }

    .btn-white:focus,
    .btn-white.active {
        background: #5D7592;
        border-color: #5D7592;
        color: #fff;
    }

    .btn-white.disabled {
        color: #E0E0E0;
        border-color: #E0E0E0;
    }

    .link:hover {
        text-decoration: underline;
    }

    .input__num a:hover:before {
        color: #5D7592
    }

    .header__bt a:hover {
        color: #3A9C3E;
        text-decoration: none;
    }

    .footer__menu a:hover {
        text-decoration: underline;
    }

    .critem__info .critem__info-map a:hover {
        border-color: transparent
    }

    .critem__i-fav a.icon-star:not(.active):hover:before {
        color: #5D7592;
    }

    .crlist .critem:hover .critem__top .critem__top-bidsall {
        display: flex;
    }

    .crbot .onpage__value a:hover {
        background: #ECF6FF;
        color: #1F3A60;
        font-weight: 500;
    }

    .crbot .onpage__value a.active {
        color: #1F3A60;
        font-weight: 500;
    }


}