@media screen and (max-width:1630px) {
    .pf__docs-btns ul {
        left: auto;
        z-index: 2;
    }
}

@media screen and (max-width:1250px) {
    .header__menu>ul>li {
        padding: 0 20px;
    }

    .crlist .critem {
        width: 31.808%;
    }

    .crlist .critem {
        width: 31.808%;
    }

    .crlist.view-list .critem {
        width: 100%;
    }

    .crlist.view-list {
        max-width: 675px;
        margin: auto;
    }

}

@media screen and (max-width:991px) {
    .text-desctop {
        display: none;
    }

    .text-mobile {
        display: inline;
    }

    h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    ul.breadcrumbs {
        padding: 32px 0 20px;
    }

    ul.breadcrumbs li {
        display: none;
    }

    ul.breadcrumbs li:nth-last-child(2) {
        display: block;
        font-size: 0;
    }




    ul.breadcrumbs li:nth-last-child(2):after {
        display: none
    }

    ul.breadcrumbs li:nth-last-child(2) a:after {
        content: "Вернуться назад";
        font-size: 14px;
        color: #5D7592;
        display: inline-block;
        margin: 0 5px;
    }

    .breadcrumbs li:nth-last-child(2) a {
        margin: 0;
    }

    .breadcrumbs li:nth-last-child(2):before {
        content: '\e920';
        margin-right: 5px;
        color: #5D7592;
        font-family: 'icomoon' !important;
        font-size: 12px;
    }

    .wrapper {
        padding: 0 23px;
    }
    .header{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 19;
        background: #fff;
    }
    .viewport-wrapper{
        padding-top: 89px;
    }

    .header__menu {
        width: 100%;
        margin: 5px 0;
    }

    .header__bt .hd__pmenu-l {
        display: none;
    }

    .header__bt {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 2px 2px 10px rgb(31 58 96 / 8%);
        border-radius: 0px 0px 0px 8px;
        right: 0;
        width: 400px;
        z-index: 21;
        left: 100%;
        transition: left .5s;
    }

    .show_menu .header__bt {
        left: calc(100% - 400px);
    }

    .show_left .header__bt {
        left: calc(100% - 400px);
    }

    .show_menu_pr_mobile .header__menu, .show_menu_pr_mobile   .header__profile {
        display: none;
    }
    .hd__pmenu-box {
        display: none!important;
     }
    .show_menu_pr_mobile  .hd__pmenu-box {
        display: block!important;
    }
    
    .show_menu_pr_mobile .header__mobile-profile {
        color: #811B18;
    }


    .header__bt .wrapper {
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .header__menu>ul {
        flex-direction: column;
    }

    .header__profile {
        width: 100%;
    }

    .hd__plist {
        padding: 23px 0;
        box-shadow: 2px -2px 10px rgb(27 58 89 / 5%);
        width: 100%;
        justify-content: center;
    }

    .hd__profile__noauth {
        display: none;
    }

    .header__menu>ul>li {
        padding: 30px 0;
    }

    .header__menu>ul>li:after,
    .header__menu>ul>li.active:after {
        content: "";
        height: 1px;
        width: calc(100% - 40px);
        position: absolute;
        bottom: 0;
        background: #ECF6FF
    }

    .header__menu>ul>li:last-child:after {
        display: none !important
    }

    .header__mobile {
        display: flex;
        width: 28%;
        justify-content: right;
    }

    .header__logo img {
        height: 44px;
    }
    .footer:before{
        border-right: 260px solid rgba(255, 255, 255, 0.04);
    }
    .footer__top {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .footer__top>.wrapper {
        flex-direction: column;
    }

    .footer__logo img {
        height: 44px;
    }

    .footer__lp {
        margin-right: 0;
        display: flex;
        justify-content: space-between;
        height: 90px;
        align-items: center;
        position: relative;
    }

    .footer__lp:after {
        content: "";
        height: 1px;
        width: calc(100% + 46px);
        background: rgba(195, 211, 234, 0.2);
        position: absolute;
        left: -23px;
        bottom: 0
    }

    .footer__lp .footer__phone {
        margin: 0;
    }

    .footer__menu {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .fm-column2 {
        padding-top: 35px;
    }

    .footer__subscribe {
        max-width: 60%;
    }

    .footer__subscribe form {
        display: flex;
    }

    .footer__subscribe form>div {
        width: 48%;
    }

    .footer__subscribe form>div:first-child {
        margin-right: 20px;
    }

    .footer__subscribe>.footer__subscribe-title {
        margin-bottom: 13px;
    }

    .footer .link_better {
        position: absolute;
        right: 0;
        top: -57px;
        width: 31%;
    }

    .cars {
        padding: 40px 0;
    }

    .crlist .critem {
        width: 46.52%;
        margin: -1px 1.74% 20px;
    }

    .crlist {
        margin: 0 -1.74%;
    }

    .cars h1 {
        font-size: 20px;
        margin-bottom: 22px;
        line-height: 1.5;
    }

    .cars .cars_mobile-title {
        font-size: 24px;
        font-weight: 500;
        display: block;
        margin-bottom: 17px;
    }

    .crtop {
       
    }

    .minfo-fixed .minfo__title {
        margin-left: 18px;
        font-size: 18px;
    }

    .minfo .mbids__table-title {
        font-size: 24px;
        padding: 17px 0;
    }

    .minfo .mbids__table-item>div {
        width: 50%;
    }

    .modal.minfo-fixed {
        width: 300px;
        padding: 13px 18px;
    }

    .modal.minfo-fixed img {
        width: 100px;
    }

    .minfo .mbids__table-item {
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 30px;
    }

    .mbids__table-item:before {
        left: 6px;
    }

    .mbids__table-item:after {
        left: -7px;
    }

    .minfo .mbids__table-item .bd-table-date {
        order: 4;
        text-align: right;
        font-size: 14px;
        margin-top: 12px;
    }

    .minfo .mbids__table-item.bid-begin .bd-table-date,
    .minfo .mbids__table-item.bid-end .bd-table-date {
        width: 100%;
        text-align: left;
    }

    .minfo .mbids__table-item .bd-table-buyer {
        order: 3;
        text-align: left;
        margin-top: 12px;
        font-size: 14px;
    }

    .minfo .mbids__table-item .bd-table-price {
        order: 2;
        text-align: right;
    }

    .minfo .mbids__table-title .print {
        display: none;
    }

    .minfo .mbids__table-subtitle {
        font-size: 20px;
    }

    .pf__it-lastname {
        order: -1;
        width: calc(76% - 165px);
    }

    .pf__it-firstname {
        padding-top: 5px;
        margin-left: 165px;
        width: calc(50% - 165px/2);
    }

    .pf__it-surname {
        padding-top: 5px;
        width: calc(50% - 165px/2);
        margin-right: 0;
    }

    .pf__type .pf__type-item {
        margin-right: 40px;
    }

    .pf__it-birth {
        order: -1;
        flex: 1;
    }

    .pf__it-gender {
        width: 100%;
    }

    .pf__it-nat {
        width: 48%;
    }

    .pf__it-passp {
        flex: 1
    }

    .pf__it-passpdate,
    .pf__it-passpkod {
        order: 1;
        width: 24.9%;
    }

    .pf__it-place {
        width: 65%;
        flex-grow: 1;
    }

    .pf__it-passpwho {
        order: 1
    }

    .pf__type .pf__form-radio {
        flex-direction: column;
    }

    .pf__data-title {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .pf__type .pf__type-item.pf__type-set {
        width: 50%;
    }

    .pf__it-index {
        width: 27.4%;
    }

    .pf__it-region {
        width: 65%;
        margin-right: 0;
        flex: auto;
    }

    .pf__it-city {
        width: 50%;
    }

    .pf__it-street {
        width: 48%;
    }

    .pf__it-office {
        flex-grow: 1;
    }

    .pf__docs-title {
        font-size: 20px;
    }

    .pf__docs-item {
        padding: 14px 21px 14px;
        flex-wrap: wrap;
    }

    .pf__docs-item:first-child {
        margin-top: 20px;
    }

    .pf__docs-name {
        font-size: 14px;
        line-height: 1.2;
    }

    .pf__docs-item:not(.pf__docs-item-nofile) .pf__docs-name {
        margin-top: -25px;
    }

    .pf__docs-info {
        order: 1;
        width: 92%;
        padding-left: 52px;
        margin-top: -19px;
    }

    .pf__docs-info .name,
    .pf__docs-info .date {
        font-size: 12px;
    }

    .pf__docs-info .progress-value,
    .pf__docs-info .progress-name {
        font-size: 14px;
        margin-top: 3px;
    }

    .pf__docs-info .tag span {
        width: 99px;
        height: 24px;
        font-size: 12px;
        margin-top: -25px;
    }

    .pf__docs-item-nofile .pf__docs-btns .btn {
        font-size: 0;
    }

    .pf__docs-item-nofile .pf__docs-btns .btn:before {
        font-size: 30px;
        color: #C3D3EA;
        margin-right: 0;
    }

    .pf__docs-item:after {
        width: calc(100% - 42px);
        height: 1px;
        background: #ECF6FF;
        content: "";
        bottom: 0;
        position: absolute;
    }

    .pf__docs-item:last-child:after {
        display: none;
    }

    .pf__docs-text {
        padding: 0 21px;

        font-size: 12px;
    }

    .pf__docs-download {
        order: 0;
        margin-bottom: 21px;
        margin-top: -21px;
    }

    .pf__docs-item-error .pf__docs-info .name {
        font-size: 14px;
    }

    .pf__ip-name {
        width: 100%;
        margin-right: 0;
        order: -1;
    }

    .pf__ip-photo {
        order: -1;
    }

    .pf__ip-nalog {
        order: -1;
        margin-left: 165px;
        margin-right: 20px;
    }

    .pf__ip-inn,
    .pf__ip-ogrn {
        margin-left: 0;
        width: 50%;
    }

    .pf__ip-inn {
        margin-right: 0;
    }

    .pf__ip-phone,
    .pf__ip-email {
        width: 47%;
    }

    .pf__ip-email {
        margin-right: 0;
        flex: 1;
    }

    .pf__ip-site {
        flex: auto;
        width: 100%;
    }

    .pf__b-rsch,
    .pf__b-ksch,
    .pf__b-bik,
    .pf__b-bank,
    .pf__p-lname,
    .pf__p-fname,
    .pf__p-sname,
    .pf__b-pos,
    .pf__b-unum,
    .pf__b-osn {
        flex-grow: 1;
        width: 48%;
    }

    .pf__b-ksch,
    .pf__p-fname {
        margin-right: 0;
    }

    .pf__org-type {
        width: 22%;
    }

    .pf__org-nalog {
        width: 22%;
        margin-right: 20px;
        margin-left: 165px;
    }

    .pf__org-name,
    .pf__org-email {
        margin-right: 0;
    }

    .pf__org-ogrn {
        margin-right: 0;
        margin-left: 0;
    }

    .pf__org-phone,
    .pf__org-email,
    .pf__org-site,
    .pf__org-torg {
        width: 45%;
    }

    .pf__org-inn {
        flex-grow: 0;
        width: calc(22% + 165px)
    }

    .cars__search{display: none;}
    .cars_filter{display: none;}
    .crtop {
        flex-wrap: wrap;
        height: auto;
    }
    .crtop__bgs{width: 100%;margin-right: 0;margin-bottom: 20px;}
    .crf__save-search + .crtop .crtop__bgs{margin-bottom: 70px;}
    .crf__save-search{    position: absolute;
        margin-top: 70px;    width: 100%;
        justify-content: left;}
        .crtop .crtop__btn-mobile{display: flex;}
    .cars_filter {
        position: fixed;
        width: 360px;
        z-index: 200;
        left: -360px;
        top: 0;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        display: block;
        background: #FDFDFD;
        padding-top: 60px;    overflow: auto;
        box-shadow: 2px 2px 10px rgb(31 58 96 / 8%);
        display: flex;
        flex-direction: column;
        transition: left .5s;
        overflow: auto;
    }
    .cars_filter.show{left: 0;}
    .crcalendar{
        width: 100%;
        border-radius: 0;
        margin: 0;
       background:transparent;
       box-shadow:none;
       display: none;
       flex-grow: 1;
    }
    .crfilter{
        background:transparent;
        box-shadow:none;
        flex-grow: 1;
    }
    .crfilter__top p span, .crfilter__top .btn span{display: none;}

    .cars_filter_short .crc__days{
        display: block;    overflow: inherit;
    }
    .cars_filter_short .crc__dopnav{display: none}
    .cars_filter_short .crc__week div span:before, .cars_filter_short .crc__week div.active:before{display: none;}
    .cars_filter_short .crc__week>div {
        height: auto;
    }
    .cars_filter_short .crc__daysofweek {
        display: flex;
    }
    .cars_filter_short .crc__week {
        padding: 0;
    }
    .cars_filter_short .crc__date{display: block;}
    .cars_filter_short .crc__days .active:after{width: 38px;}
    .cars_filter_short .crc__days .active span{color:#fff}
    .crtab__mobile{display:flex}
    .crf__form-item {
        width: 100%;}
    .crf__form-bt{display: none;}
    .crfilter__bot-mobile{display: flex;}
    .crfilter__bot{    justify-content: center;
        margin-bottom: 17px;
        margin-top: 30px;}
    .crfilter__bot .crfilter__reset {display: none;}
    .crf__save-search{overflow: auto;}
    .crf__save-search::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

}
@media screen and (max-width:800px) {
    .crtop__sort>div{
        padding: 0 5px;
    }
    .crtop>div{padding: 0;}
}
@media screen and (max-width:650px) {
    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    


    .list-2columns {
        column-count: 1;
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }
    .viewport-wrapper{
        padding-top: 65px;
    }


    .crlist .critem {
        width: 100%;
    }

    .crtop .crtop__grid {
        display: none;
    }

    .cars {
        padding: 32px 0;
    }

    .cars h1 {
        font-size: 16px;
    }

    .pages {
        display: inline-block;
        margin-bottom: 30px;
    }

    .pages ul li {
        margin-right: 20px;
    }

    .pages ul li:last-child {
        margin-right: 0;
    }

    .pages ul li a {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .header__mobile {
        width: auto;
    }

    .header__mobile-bids,
    .header__mobile-profile,
    .header__mobile-login {
        margin-right: 24px;
    }

    .header__phone {
        font-size: 20px;
        flex-grow: 1;
        text-align: center;
    }

    .header__top>.wrapper {
        height: 64px;
    }

    .header__logo img {
        height: 28px;
    }

    .footer__lp {
        height: 77px;
    }

    .footer__menu {
        flex-wrap: wrap;
    }

    .footer__menu-item {
        width: 50%;
    }

    .fm-column2 {
        order: 1;
        padding: 0;
    }

    .footer__subscribe {
        max-width: 100%;
    }

    .footer__subscribe form {
        flex-wrap: wrap;
    }

    .footer__subscribe form>div {
        width: 100%;
        margin-right: 0 !important;
    }

    .footer .link_better {
        position: absolute;
        right: 0;
        top: -189px;
        width: 50%;
        font-size: 12px;
    }

    .footer__menu ul a {
        font-size: 12px;
    }

    .footer__lp .footer__phone {
        font-size: 16px;
    }

    .footer__logo img {
        height: 28px;
    }

    .crbot {
        text-align: center;
    }

    .crbot {
        justify-content: center;
        flex-direction: column;
    }

    .profile {
        padding-bottom: 0;
    }

    .pf__form-photo {
        position: relative;
        width: 100%;
        order: -1;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .pf__form-item {
        margin-right: 0;
    }

    .pf__form .pf__form-item {
        width: 100%;
        margin-left: 0;
        order: 0;
        flex: none;
    }

    .pf__form .pf__form-item.pf__it-birth,
    .pf__form .pf__form-item.pf__it-passpdate,
    .pf__form .pf__form-item.pf__it-passpkod {
        width: 60%;
    }

    .pf__data-bt .btn {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .pf__data-bt .save-draft {
        order: 1;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .pf__data-bt {
        flex-direction: column;
    }

    .pf__type {
        flex-direction: column;
    }

    .pf__type .pf__type-item:last-child {
        margin-top: 20px;
    }

    .pf__type .pf__type-item {
        margin-right: 0;
    }

    .pf__type .pf__form-radio .form_radio {
        margin-right: 0;
    }

    .pf__progress {
        padding: 10px 0;
    }

    .pf__progress-step {
        border: 0;
        font-size: 0;
        background: transparent !important;
        width: 0;
    }

    .pf__progress-step:last-child {
        font-size: 16px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        color: #5D7592;
        font-weight: 500;
    }

    .pf__progress-line {
        display: none;
    }

    .pf__progress-step.active {
        counter-increment: step;
    }

    .pf__progress-step:last-child:after {
        content: "Шаг "counter(step)"";
        color: #3A9C3E;
        font-size: 20px;
        font-weight: 700;
        margin-right: 7px;
    }

    .pf__progress-step:last-child span:before {
        content: " из ";
    }

    .pf__type .pf__type-set {
        display: none;
    }

    .pf__form .pf__it-house,
    .pf__form .pf__it-korpus,
    .pf__form .pf__it-flat {
        width: 30%;
        flex: 1;
    }

    .pf__form .pf__it-house,
    .pf__form .pf__it-korpus {
        margin-right: 20px;
    }

    .pf__data-address-org .pf__it-korpus {
        margin-right: 0;
    }

    .pf__data-bt .btn.btn-green {
        order: -1
    }

    .pf__docs-info {
        width: 100%;
        padding-left: 0;
        margin-top: 0;
        padding-right: 0;
    }

    .pf__docs-info .tag span {
        margin-top: 0;
    }

    .pf__docs-btns {
        min-width: 30px;
    }

    .pf__docs-item:not(.pf__docs-item-nofile) .pf__docs-name {
        margin-top: 0;
    }

    .pf__docs-info .name,
    .pf__docs-info .date {
        margin-top: 3px;
    }

    .pf__docs-info .progress-value,
    .pf__docs-info .progress-name {
        margin-top: 10px;
    }

    .pf__docs-btns .docs-menu {
        font-size: 5px;
        margin-top: -30px;
    }

    .minfo-fixed .minfo__title {
        margin-left: 12px;
        font-size: 12px;
    }

    .modal.minfo-fixed {
        width: 200px;
        padding: 9px 18px;
    }

    .modal.minfo-fixed img {
        width: 53px;
    }

    .minfo .mbids__table-item {
        font-size: 14px;
    }

    .minfo .mbids__table-item .bd-table-date {
        font-size: 12px;
        margin-top: 5px;
    }

    .minfo .mbids__table-item .bd-table-buyer {
        margin-top: 5px;
        font-size: 12px;
    }

    .minfo .mbids__table-title {
        font-size: 20px;
        line-height: 1.5;
        padding: 15px 0;
    }

    .minfo .mbids__table-subtitle {
        font-size: 16px;
        margin-bottom: 0;
    }

    .modal.minfo-xs {
        padding: 28px;
    }

    .modal.minfo-sm {
        padding: 28px;
    }

    .modal.minfo-md {
        padding: 28px;
    }

    .modal.minfo-full {
        padding: 20px;
    }

    .modal.minfo-sm2 {
        padding: 28px;
    }

    .pf__docs-download {
        margin-top: 0;
    }

    .pf__docs-download a {
        width: 100%;
    }

    .mlog__form-register .mlog__form-item {
        width: 100%;
        margin-right: 0;
    }
    .crtop .crtop__sort{display: none;}
    .crtop .crtop__btn-mobile{margin: 0;}
    .cars__mylots-btn {display: none;}
    .crtop__sort-mob-box{display: block;}
    .crtop  .crtop__sort-mob{display: block;}
}

@media screen and (max-width:450px) {
    .header__phone {
        opacity: 0;
        font-size: 16px;
    }

    .header__bt {
        height: calc(var(--vh, 1vh) * 100 - 65px);
        width: 100vw;
        border-radius: 0
    }

    .show_menu .header__bt {
        left: 0;
    }

    .header__bt .wrapper {
        height: 100%;
    }

    .header__menu {
        flex-grow: 1;
    }

    .show_left .header__bt {
        left: 0;
    }

    .hd__pmenu-list {
        flex-grow: 1;
    }

    .hd__pmenu-box {
        border-radius: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .hd__pmenu-box {
        display: flex;
        flex-direction: column;
    }

    .show_menu .header__phone {
        opacity: 1;
    }

    .show_menu .header__mobile-bids,
    .show_menu .header__mobile-profile,
    .show_menu .header__mobile-login {
        display: none;
    }

    .mlog {
        padding: 40px 20px
    }

    .mlog__inner {
        min-height: calc(100vh - 92px);
        min-height: calc(var(--vh, 1vh) * 100 - 92px);
        display: flex;
        flex-direction: column;
    }

    .mlog__form {
        flex-grow: 1
    }

    .mlog__title {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .mlog__tab {
        flex-grow: 1;
        align-items: flex-end;
    }

    .mlog__form-info {
        text-align: center;
        display: inline-block;
    }

    .mlog__form-info i {
        margin-right: 0;
    }

    .mlog__block {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .mlog__block-inner,
    .mlog__form-register {
        flex-grow: 1
    }

    .mlog__block.hidden {
        display: none;
    }
    .cars_filter{width: 100%;left:-100%}
    .crtab__mobile{width: 100%;}
}

@media (hover),
(min-width:0\0),
(min--moz-device-pixel-ratio:0) {

    input,
    textarea,
    select,

    .ic-input:before {
        transition: all .3s
    }

    input:hover,
    textarea:hover {
        border-color: #BDC5D7;
    }

    .ic-input:hover:before {
        color: #1F3A60;
    }

    input:focus,
    textarea:focus {
        border-color: #3A9C3E;
    }

    .ic-input.focus:before {
        color: #3A9C3E
    }

    .error input,
    .error textarea,
    input.error,
    textarea.error {
        border-color: #D3918D !important;
        color: #811B18;
    }

    .ic-input.error:before {
        color: #811B18;
    }

    .form_checkbox label:hover::before {
        border-color: #C3D3EA;
    }

    a {
        transition: color .3s
    }

    a:hover:before {
        transition: all .3s
    }

    ul.breadcrumbs li a:hover {
        color: #3A9C3E;
    }

    .btn {
        transition: all .3s
    }

    a:hover {
        /*text-decoration: underline*/
    }

    .btn-green:hover {
        background: #40BB45;
    }

    .btn-green:focus,
    .btn-green.active {
        background: #3A9C3E;
    }

    .btn-green.disabled {
        background: #E0E0E0;
    }

    .btn-transparent:hover {
        color: #1F3A60;
    }

    .btn-transparent:focus,
    .btn-transparent.active {
        color: #1F3A60;
    }

    .btn-transparent.disabled {
        color: #E0E0E0;
    }

    .btn-white:hover {
        color: #1F3A60;
        border-color: #1F3A60;
    }

    .btn-white:focus,
    .btn-white.active {
        background: #5D7592;
        border-color: #5D7592;
        color: #fff;
    }

    .btn-white.disabled {
        color: #E0E0E0;
        border-color: #E0E0E0;
    }

    .link:hover {
        text-decoration: underline;
    }

    .input__num a:hover:before {
        color: #5D7592
    }

    .header__menu a:hover,
    .hd__profile__noauth a:hover {
        color: #3A9C3E;
        text-decoration: none;
    }

    .hd__pmenu-active a.icon-user-set:hover {
        color: #1F3A60;
    }

    .hd__pmenu-box a.link-settings:hover {
        color: #1F3A60;
    }

    .hd__pmenu-l:hover {
        cursor: pointer;
    }

    .hd__pmenu-item:hover .link-settings {
        display: block;
        z-index: 21;
    }

    .hd__pmenu-item:hover {
        cursor: pointer;
        background: #F4FAFF
    }

    .footer__menu a:hover {
        text-decoration: underline;
    }

    .critem__info .critem__info-map a:hover {
        border-color: transparent
    }

    .critem__i-fav a.icon-star:not(.active):hover:before {
        color: #5D7592;
    }

    .crlist .critem:hover .critem__top .critem__top-bidsall {
        display: flex;
    }

    .crbot .onpage__value a:hover {
        background: #ECF6FF;
        color: #1F3A60;
        font-weight: 500;
    }

    .crbot .onpage__value a.active {
        color: #1F3A60;
        font-weight: 500;
    }
    .crc__days .haslots:not(.active):hover:after{
        content:"";
        top: -3px;
        position: absolute;
        content: "";
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #ECF6FF;

 
    }

    .cars_filter_short .crc__days .haslots:not(.active):hover:after {
        content: "";
        width: 100%;
        line-height: 35px;
        margin-bottom: 0;
        margin-left: 0;
        height: 100%;
        border-radius: 34px;
        top: -1px;
    }
    .crf__save-search-it button:hover{
        background: #C3D3EA;
        border-color: #5D7592;
    }
    .crf__save-search-it button:hover i{color: #5D7592;}
    
}